@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300;1,400&display=swap');

//variables
$pri-font: 'Montserrat', sans-serif;

//colors
$primaryBG: #232b43;
$secondaryBG: #161e37;
$primaryText: #ffffff;
$secondaryText: #e5e5e5;

.all-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex: 1;
}
