@import 'config';

#contact {
	margin-top: -1px;

	#frame-container {
		position: relative;
		overflow: hidden;
		height: 20vh;
		width: 100%;
		padding-top: 56.25%;
		margin-bottom: 2rem;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	#contact-nav {
		height: 2vh;
		background-color: $extraBG;
	}

	#separator {
		color: $primaryText;
		font-family: $pri-font;
		font-size: 2rem;
		text-align: center;
		padding: 0.5rem;
		height: auto;
		background-color: $tertiaryBG;
	}
}
