@import 'config';

.footer-container {
	height: auto;
	width: 100vw;
	margin-top: auto;
	background-color: $primaryBG;
	display: flex;
	flex-direction: column;
	align-items: center;

	#footer-main-items {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.links-col {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1rem;

		.link-container {
			display: flex;
			flex-direction: column;
		}
		a {
			color: $primaryText;
			text-decoration: none;
			font-family: $pri-font;
			font-size: 1rem;
			margin: 0.2rem;
		}

		i {
			color: $primaryText;
			text-decoration: none;
			font-size: 2rem;
			margin: 0.2rem;
		}
	}

	p {
		margin: 0.5rem;
		color: $primaryText;
		font-family: $pri-font;
		font-size: 0.8rem;
	}
}
