@import 'config';

#header {
	background-color: $primaryBG;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 8vh;
	width: 100vw;
	position: fixed;
	z-index: 99;
	opacity: 0.99;
}
#ham-container {
	background-color: $primaryBG;
	border: none;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	right: 10px;
	margin-left: auto;

	.ham-line {
		background-color: $primaryText;
		width: 2.5rem;
		height: 0.25rem;
		z-index: 64;
		margin: 0.2rem;
		border-radius: 10px;
		transition-duration: 0.2s;
	}

	// #top {
	// 	transform-origin: right center;
	// }

	// #bot {
	// 	transform-origin: top right;
	// }

	// #mid {
	// 	transform-origin: right right;
	// }
}

#logo {
	height: 5vh;
	width: 5vh;
	position: relative;
	left: 0.5rem;
}

// img::before {
// 	content: '';
// 	display: block;
// 	background-color: white;
// 	height: 7vh;
// 	width: 7vh;
// }
